:root {
    --cor-primaria: #009DE0;
    --cor-secundaria: #021D34;
    --cor-texto: #000000;
    --cor-fundo: #FFFFFF;
}

body {
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    width: 1000px;
    height: 600px;
}

.image-container, .login-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinhamento vertical */
}

.image-container {
    width: 50%; /* 50% para a imagem */
}

.image-container img {
    max-width: 100%;
    height: auto;
}



.login-container {
    padding: 20px;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: var(--cor-secundaria);
    margin-bottom: 50px;
    font-size: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ocupa todo o espaço horizontal */
}

input {
    background-color: #ECE8E8;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 250px;
    height: 20px;
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajuste conforme o efeito desejado */
    border: none; /* Remove qualquer borda padrão do input */
}

button {
    padding: 10px;
    font-size: 15px;
    background-color: var(--cor-primaria);
    color: var(--fundo);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    margin-top: 20px; /* Adicionando margem superior ao botão para mais espaçamento */
}


button:hover {
    background-color: #007bb5;
}

