:root {
    --cor-primaria: #009DE0;
    --cor-secundaria: #021D34;
    --cor-texto: #000000;
    --cor-fundo: #FFFFFF;
}

body {
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    border: 4px solid var(--cor-primaria);
    border-radius: 5px;
    overflow: hidden;
    width: 1000px;
}

.image-container {
    width: 50%; /* Ajuste conforme necessário */
}

.image-container img {
    width: 500px;
    height: 500px;
}

.login-container {
    padding: 20px;
    width: 50%; /* Ajuste conforme necessário */
    text-align: center;
}

h1 {
    color: var(--cor-secundaria);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--cor-secundaria);
    border-radius: 5px;
    width: 300px;
}

button {
    padding: 10px;
    background-color: var(--cor-primaria);
    color: var(--fundo);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
}

button:hover {
    background-color: #007bb5;
}

p {
    margin-top: 10px;
}
